.admin {
  display:grid;
  width:100%; min-height:100vh;
  grid-template-rows:auto auto 1fr;
  grid-template-columns:256px 1fr;
  grid-template-areas:
    "notice notice"
    "header header"
    "aside main";

  .notice {
    grid-area:notice;

    p {
      padding:10px;
      margin:0;

      &:empty {
        display:none;
      }
    }
  }

  header {
    grid-area:header;
    height:auto;

    .wrapper {
      max-width:100%;

      .masthead {
        margin-top:0;
      }
    }
  } 

  aside {
    grid-area:aside;
    background:$light1;
    padding:10px;

    a {
      display:block;
    }
  }
  main {
    grid-area:main;
    padding:10px 20px;
  }
}