.categories {
  .wrapper {
    display:flex;
    padding-bottom:0;

    .list {
      display:flex;
      width:100%;
      padding-bottom:10px;
      border-bottom:1px solid $light2;

      a {
        margin-right:20px;
        font-weight:bold;

        &.active {
          color:$purple2;
        }
      }
    }
  }
}