.pagination {
  padding:10px 0;
  margin-left:-5px;
  
  span {
    a {
      color:$purple1;
      padding:5px;

      &:hover {
        color:$purple2;
      }
    }
    &.current {
      padding:5px;
      color:$purple2;
      font-weight:bold;
    }
  }
}