<section class="filters">
  <div class="wrapper">
    <div class="list">
      <a href="#">All <i class="fa fa-caret-down"></i></a>
      <a href="#">Art</a>
      <a href="#">History</a>
      <a href="#">Language</a>
      <a href="#">Nature</a>
      <a href="#">Society</a>
      <a href="#">Space</a>
    </div>
  </div>
</section>