.search {
  .wrapper {
    .heading {
      border-bottom:1px solid $light2;
      strong {
        color:$rust2;
      }
    }
    .results {
      padding-right:10px;

      .message {
        padding:10px 0;
      }

      .item {
        display:block;
        padding:10px 0;
        border-bottom:1px solid $light2;

        .title {
          @include font-size(16);
          transition:all 0.1s ease;
        }
        .description {
          color:$dark2;
          font-weight:normal;
          margin-bottom:10px;
        }

        .meta {
          span {
            color:$light3;
            @include font-size(12);
            margin-right:10px;
            padding-right:10px;
            font-family:monospace;

            &:not(:last-child) {
              border-right:1px solid $light2;
            }
          }
        }
        &:hover {
          .title {
            color:$purple2;
          }
        }
      }
    }
  }
}