$dark1: rgb(20, 20, 20);
$dark2: rgb(60, 60, 60);
$dark3: rgb(120, 120, 120);

$light1: #f0f0f0;
$light2: rgb(210, 210, 210);
$light3: rgb(180, 180, 180);

$red1: rgb(200, 0, 50);
$red2: rgb(170, 0, 30);

$green1: rgb(0, 200, 140);
$green2: rgb(0, 160, 110);

$blue1: rgb(50, 170, 255);
$blue2: rgb(40, 140, 210);

$rust1:#fdca7a;
$rust2:#ed9e6f;