.breadcrumbs {
  .wrapper {
    padding-bottom:0;
    
    .links {
      border-bottom:1px solid $light2;
      padding-bottom:10px;
    }
  }
}

.paper-show {
  .wrapper {
    .title {
      padding-bottom:5px;
    }
    .meta {
      margin-bottom:10px;

      .authors, .source, .implementation {
        margin-bottom:0;
      }
    }

    img {
      width:100%;
    }
  }
}