<%- title "Datasets" %>

<div class="datasets-index">
  <div class="categories">
    <div class="wrapper">
      <div class="list">
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        <a class="active" href="/datasets">Datasets</a>
        <a href="/events">Events</a>
        <a href="/papers">Papers</a>
        <a href="/projects">Projects</a>
      </div>
    </div>  
  </div>

  <div class="showcase">
    <div class="wrapper">
      <% if @datasets.empty? %>
        <p class="message">Nothing to see here.</p>
      <% else %>
        <% @datasets.each do |dataset| %>
          <a class="item" href="<%= dataset_path(dataset.slug) %>">
            <h2 class="title"><%= dataset.title %></h2>
          </a>
        <% end %>
        <%= paginate @datasets %>
      <% end %>
    </div>
  </div>
</div>