.event-show {
  .wrapper {
    .title {
      border-bottom:1px solid $light2;
      margin-bottom:10px;
      padding-bottom:5px;
    }
    .meta {
      margin-bottom:10px;

      .link, .start, .end {
        margin-bottom:0;
      }
    }
    .description {}
  } 
}