header {
  background:url('../images/nebula.jpg') no-repeat center;
  background-size:cover;
  height:35vh;

  .wrapper {
    position:relative;
    height:100%;

    .masthead {
      position:relative;
      margin-top:10px;
      display:flex;
      align-items:center;
      justify-content:space-between;

      .logo {
        a {
          display:block;

          svg {
            fill:white;
            max-height:25px;
            width:auto;
            shape-rendering: crispedges;
          }

          &:hover {
            svg {
              opacity:1;
            }
          }
        }
      }
      
      nav {
        display:flex;
        align-items:center;

        a {
          color:white;
          margin:0 10px;

          &:hover {
            color:$rust1;
          }

          &.active {
            color:$rust1;
          }
        }
        span {
          color:white;
          margin:0 5px;
          font-weight:bold;
          cursor:default;
        }
      }
    }

    .intro {
      position:absolute;
      width:100%;
      left:10px; bottom:20px;

      .tagline {
        color:white;
        @include font-size(14);

      }
      .title {
        color:white;
        margin-bottom:10px;
      }
      .search {
        display:flex;

        .search-input {
          position:relative;
          width:100%; max-width:400px;

          .search-icon {
            position:absolute;
            left:15px; top:50%;
            transform:translateY(-50%);
            @include font-size(20);
            color:$light3;

            svg {
              width:20px;
              display:block;
            }
          }

          input {
            width:100%;
            padding:20px;
            padding-left:50px;
            border-radius:3px;
            border:0;
          }
        }
        .search-button {
          display:block;
          color:white;
          background:linear-gradient(to left, $rust1, $rust2) repeat;
          background-position:0 0;
          padding:20px 40px;
          border-radius:3px;
          margin:0 10px;
          transition:all 0.3s ease;
          background-size:200% auto;

          &:hover {
            background-position:-100px 0;
          }
        }
      }
    }
  }
}