<%- title "Contact" %>

<% fake_name = Faker::Lovecraft.deity %>
<% fake_email = fake_name.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %>

<div class="contact">
  <div class="wrapper">
    <div class="intro">
      <h2>Contact</h2>
      <p>Thanks for your interest! I'd love to talk more if you have any questions, concerns or ideas. Feel free to use the form to email me, or get in touch through one of these other means.</p>
    </div>

    <div class="info">
      <form>
        <div class="field-group">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="<%= fake_name %>">
        </div>
        <div class="field-group">
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="<%= fake_email %>@algonomicon.com">
        </div>
        <div class="field-group">
          <label for="content">Content</label>
          <textarea name="content" id="content" cols="30" rows="10" placeholder="<%= Faker::Lovecraft.paragraph %>"></textarea>
        </div>
      </form>

      <div class="location">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2FtcDRjbGltYmVyIiwiYSI6ImNpdzhwM2VzbjAyc24yb21zZjduZHh3dmMifQ.k42_5Mnh3NX7pUqkQTA2SA';
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      center: [-105.073333, 40.588722],
      zoom: 14,
      interactive: false
  });
  
  var marker = new mapboxgl.Marker()
    .setLngLat([-105.073333, 40.588722])
    .addTo(map);
<% end %>