<section class="filters">
  <div class="wrapper">
    <div class="list">
      <a href="#">All <i class="fa fa-caret-down"></i></a>
      <% @categories.each do |category| %>
        <a href="#"><%= category.title %></a>
      <% end %>
    </div>
  </div>
</section>

<div class="wrapper">
  <div class="showcase">
    <% @projects.each do |project| %>
      <a class="item" href="<%= project_path(project.id) %>">
        <img class="preview" src="https://placehold.it/200">
        <h2 class="title"><%= project.title %></h2>
        <p class="description"><%= project.description %></p>
      </a>
    <% end %>
  </div>
</div>