<%= render "partials/filters" %>

<div class="wrapper">
  <div class="showcase">
    <% for i in 0..9 do %>
      <div class="item">
        <img class="preview" src="https://placehold.it/200">
        <h2 class="title">Hello World</h2>
        <p class="description">Lorem ipsum dolor sit amet.</p>
      </div>
    <% end %>
  </div>
</div>