<section class="filters">
  <div class="wrapper">
    <div class="list">
      <a href="#">All <i class="fa fa-caret-down"></i></a>
      <a href="#">Art</a>
      <a href="#">History</a>
      <a href="#">Language</a>
      <a href="#">Nature</a>
      <a href="#">Society</a>
      <a href="#">Space</a>
    </div>
  </div>
</section>

<div class="wrapper">
  <div class="showcase">
    <% for i in 0..9 do %>
      <div class="item">
        <img class="preview" src="https://placehold.it/200">
        <h2 class="title">Hello World</h2>
        <p class="description">Lorem ipsum dolor sit amet.</p>
      </div>
    <% end %>
  </div>
</div>