<%- title 'Work' %>

<div class="work">
  <div class="wrapper">
    <h2>Devs Wanted for Hazardous Journey</h2>
    <p>Small wages, bitter cold, long months of complete darkness, constant danger. Safe return doubtful. Honor and recognition in case of success.</p>
  </div>
</div>