<div class="work">
  <div class="wrapper">
    <h1>Work</h1>
    <p>Devs wanted for hazardous journey. Small wages, bitter cold, long months of complete darkness, constant danger. Safe return doubtful. Honor and recognition in case of success.</p>
    <p>Email: tim@algonomicon.com</p>
  </div>
</div>