<%- title "Projects" %>

<div class="projects-index">
  <div class="categories">
    <div class="wrapper">
      <div class="list">
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        <a href="/datasets">Datasets</a>
        <a href="/events">Events</a>
        <a href="/papers">Papers</a>
        <a class="active" href="/projects">Projects</a>
      </div>
    </div>  
  </div>

  <div class="showcase">
    <div class="wrapper">
      <% if @projects.empty? %>
        <p class="message">Nothing to see here.</p>
      <% else %>
        <% @projects.each do |project| %>
          <a class="item" href="<%= project_path(project.slug) %>">
            <h2 class="title"><%= project.title %></h2>
          </a>
        <% end %>
        <%= paginate @projects %>
      <% end %>
    </div>
  </div>
</div>