<div class="papers-index">
  <div class="categories">
    <div class="wrapper">
      <div class="list">
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        <a href="/datasets">Datasets</a>
        <a href="/events">Events</a>
        <a class="active" href="/papers">Papers</a>
        <a href="/projects">Projects</a>
      </div>
    </div>  
  </div>

  <div class="showcase">
    <div class="wrapper">
      <% if @papers.empty? %>
        <p class="message">Nothing to see here.</p>
      <% else %>
        <% @papers.each do |paper| %>
          <a class="item" href="<%= paper_path(paper.slug) %>">
            <h2 class="title"><%= paper.title %></h2>
          </a>
        <% end %>
        <%= paginate @papers %>
      <% end %>
    </div>
  </div>
</div>