<div class="paper">
  <div class="wrapper">
    <h1 class="title"><%= @paper.title %></h1>

    <p class="source">Source: <%= @paper.source %></p>
    <p class="abstract"><%= @paper.abstract %></p>
  </div>
</div>