code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #222831;
  color: #a1a1a1;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0 1em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1rem 0.2rem;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #666;
}

.token.punctuation {
  color: #a1a1a1;
}

.token.namespace {
  opacity: 0.7;
}

.token.operator {
  color: #fe4365;
}

.token.boolean,
.token.number {
  color: #9e7ec1;
}

.token.property {
  color: #eca25c;
}

.token.tag {
  color: #9e7ec1;
}

.token.string {
  color: #eca25c;
}

.token.selector {
  color: #9e7ec1;
}

.token.attr-name {
  color: #eca25c;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #fe4365;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #eca25c;
}

.token.placeholder,
.token.variable {
  color: #a1a1a1;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #a1a1a1;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #fe4365;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #fe4365;
  outline-offset: 0.4em;
}

.line-numbers .line-numbers-rows {
  border-right-color: #383830 !important;
}

.line-numbers-rows > span:before {
  color: #49483e !important;
}

.line-highlight {
  background: rgba(249, 248, 245, 0.2) !important;
  background: -webkit-linear-gradient(
    left,
    rgba(249, 248, 245, 0.2) 70%,
    rgba(249, 248, 245, 0)
  ) !important;
  background: linear-gradient(
    to right,
    rgba(249, 248, 245, 0.2) 70%,
    rgba(249, 248, 245, 0)
  ) !important;
}
