.feed-container {
  max-height:100%;
  margin-right:-50px;
  padding-right:42px;
  overflow:scroll;

  .post-container {
    border-bottom:1px solid $light2;
    padding:10px 0;
    display:flex;

    .avatar {
      flex:0;

      img {
        width:40px
      }
    }

    
    .matter {
      flex:1;
      min-width:50%;
      margin-left:10px;

      .username {
        font-weight:bold;
      }
      .content {
        a {
          word-wrap:break-word;
        }

        p:last-child {
          margin:0;
        }
      }
      .date {
        color:$light3;
        @include font-size(11);
        margin:0;
      }
    }
  } 
}