form {
  label {
    margin-bottom:5px;
    display:block;
  }
  input, textarea, select {
    border:1px solid $light3;
    padding:5px;
    margin-bottom:5px;
  }
  textarea {
    width:640px;
    height:240px;
  }
}