header {
  background:url(/assets/nebula.jpg) no-repeat center;
  background-size:cover;
  height:35vh;
  transition:all 1s ease;

  .wrapper {
    position:relative;
    height:100%;

    .masthead {
      position:relative;
      margin-top:10px;
      display:flex;
      align-items:center;
      justify-content:space-between;

      .logo {
        a {
          display:block;

          svg {
            fill:white;
            max-height:25px;
            width:auto;
            shape-rendering: crispedges;
            transition:all 0.3s ease;
          }

          &:hover {
            svg {
              opacity:1;
            }
          }
        }
      }
      
      nav {
        display:flex;
        align-items:center;

        a {
          color:white;
          margin:0 10px;

          &:hover {
            color:$rust1;
          }
        }
        span {
          color:white;
          margin:0 5px;
          font-weight:bold;
          cursor:default;
        }
      }
    }

    .intro {
      position:absolute;
      width:100%;
      left:10px; bottom:20px;

      .tagline {
        color:white;
        @include font-size(14);

      }
      .title {
        color:white;
        margin-bottom:10px;
      }
      .search {
        display:flex;

        .input-group {
          position:relative;
          width:100%; max-width:400px;

          .input-icon {
            position:absolute;
            left:15px; top:50%;
            transform:translateY(-50%);

            i {
              @include font-size(20);
              color:$light3;
            }
          }

          input {
            width:100%;
            padding:20px;
            padding-left:50px;
            border-radius:3px;
          }
        }
        .search-button {
          display:block;
          color:white;
          background:linear-gradient(to left, $rust1, $rust2);
          padding:20px 40px;
          border-radius:3px;
          margin:0 10px;
        }
      }
    }
  }

  &.grayscale {
    filter:grayscale(1);
    transition:all 3s ease;
  }
}