$dark1: rgb(20, 20, 20);
$dark2: rgb(60, 60, 60);
$dark3: rgb(120, 120, 120);

$light1: rgb(240, 240, 240);
$light2: rgb(210, 210, 210);
$light3: rgb(180, 180, 180);

$purple1:#7d8cd0;
$purple2:#51607e;

$rust1:#fdca7a;
$rust2:#ed9e6f;